.panel-container {
  padding: 5px 10px 10px 10px;
  width: 100%;
  font-family:
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    Roboto,
    "Segoe UI",
    "Helvetica Neue",
     "Lucida Grande",
     sans-serif;
   color: #444;
}

header h2 {
  display: inline-block;
  width: auto;
  vertical-align: top;
}

header .online,
header .offline {
  display: inline-block;
  vertical-align: top;
}

header .status-indicator {
  float: right;
  clear: both;
  margin-right: -5px;
}

header .comment-count {
  float: right;
  margin-right: 0.25em;
  color: #777; /* text-muted */
}
