
.blabbr-comment {
  /* Box model */
  position: relative;
  min-height: 5rem; /* Same as gravatar height + 2x padding! */
  padding: 0.5rem 0.5rem 0.5rem 5rem;
  font-family:
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    Roboto,
    "Segoe UI",
    "Helvetica Neue",
     "Lucida Grande",
     sans-serif;

  /* Visual */
  border: 1px solid #ccc;
}

.blabbr-comment header {
  /* Typography */
  font-size: 0.8em;
}

.blabbr-comment header h2 {
  /* Box model */
  display: inline-block;
  margin: 0;

  /* Typography */
  font-size: 1em;
}

.blabbr-comment header time {
  margin-left: 1em;
}

.blabbr-comment header .controls {
  margin-left: 1em;
  float: right;
}

.blabbr-comment header a {
  /* Box model */
  display: inline-block;
}

.blabbr-comment header img {
  /* Box model */
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 4rem;
  height: 4rem;

  /* Visual */
  border-radius: 50%;
}

.blabbr-comment header + p {
  /* Box model */
  margin-top: 0.5rem;
}

.blabbr-comment p:last-child {
  /* Box model */
  margin-bottom: 0;
}


/* TODO: Migrate this to Comments */
.blabbr-comment {
  /* Box model */
  margin-bottom: 1rem;
}
